:root {
  --bgc-toggle: hsla(40, 50%, 50%, 1);
  --bgc-toggle-dark: hsla(40, 80%, 50%, 1);
  --bgc-toggle-after: hsla(40, 20%, 77%, 1);
  --box-shadow: hsla(40, 20%, 77%, 1);
}

a  {
    text-decoration: none;
    color: inherit;
  }

.no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /*Header*/
header {
    text-align: center;
}
.presentacion-inicial {
  text-align: center;
}

.presentacion-inicial h1 {
  margin: auto;
  margin-top: 1rem;
  font-size: 5rem;
}

.presentacion-inicial h1 span {
  font-size: 4rem;
}

.sobre-mi h3 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  margin-top: 3rem;
}
.sobre-mi p {
  margin: 0 5rem;
  text-align: justify;
  font-size: 3rem;
}
/*Barra de contacto*/
.contact-bar {
  display: block;
  justify-content: space-evenly;
  margin: 0;
  padding: 1rem;
}

.no-style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-bar ul li {
    margin: 0;
    padding: 1rem;
    display: block;
    justify-content: center;
    font-size: 3rem;
}

.contact-bar svg {
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 5rem;
  height: 5rem;
}

header img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

/*boton de tema claro/oscuro */
.dark-light {
  position: relative;
  align-items: center;
  margin: 1rem;

}

#toggle-mode {
background-color: var(--bgc-toggle);
border: none;
border-radius: 2rem;
cursor: pointer;
display: block;
}
#toggle-mode svg {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-top: 0.4rem;
}

#toggle-mode::after {
  content: "";
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--bgc-toggle-after);
  position: absolute;
  left: 0;
  top: 0;
  right: unset;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px var(--box-shadow);
}

#toggle-mode.dark {
  background-color: var(--bgc-toggle-dark);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

#toggle-mode.dark::after {
  content: "";
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--bgc-toggle-after);
  position: absolute;
  left: 4rem;
  top: 0;
  right: unset;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px var(--box-shadow);
}
  /*Main*/
main { /*cambio de de propiedades y atributos*/
    display: block;
    justify-self: center;
    padding: 0.5rem;
    width: 100%;
  }
  /*Section´s*/
  .articulos {  /*agregado aquí*/
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 3rem;
    text-align: justify;
    line-height: 4rem;
  }

  .job-title {
    font-weight: bold;
  }

  .ex-work {
    list-style-type: circle;
  }



  /*Aside*/
aside { /*cambio de propiedades y atributos*/
    display: block;
    float: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 3rem;
  }

  .skills {
    margin-left: 1rem;
  }

  .skill-level {
    font-weight: bold;
  }

  dt {
    margin: 2rem 0;
    font-weight: bold;
  }

  dd {
    margin-left: 0.5rem;
  }
  /*Footer*/
  footer .contact-bar {
    align-items: center;
    text-align: center;
  }